---
title: Program committee
layout: page
permalink: /program-committee/
---
{% include relative_root.html %}

<dl>
{% for pc_member in edition.pc %}
{% assign id = '/members/' | append: pc_member %}
{% assign member = site.members | where: "id", id | first %}
<dt>{{ member.name }} {% if forloop.first %} (chairman) {% endif %}</dt>
<dd><p>{{ member.role }}</p>{{ member.content | markdownify }}</dd>
{% endfor %}
</dl>
