<!--
 Derived from the Linear template by TEMPLATED.  Licensed under
 the Creative Commons Attribution 3.0 Unported license
 (https://creativecommons.org/licenses/by/3.0/).
-->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{{ relative_root }}/assets/css/normalize.css" />
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/fonts.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/style.css?v=4" />
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/style-mobile.css?v=2" media="(max-width:699px)"/>
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/style-desktop.css?v=2" media="(min-width:700px)" />
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/grid-small.css" media="(max-width:1023px)"/>
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/grid-large.css" media="(min-width:1024px)" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	{% if page.stylesheet %}
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/{{ page.stylesheet }}.css" />
	{% endif %}
	{% if page.colorbox %}
	<script src="{{ relative_root }}/assets/js/jquery.colorbox.js"></script>
	<link rel="stylesheet" href="{{ relative_root }}/assets/css/colorbox.css" />
	{% endif %}
