<div id="footer">
<p>Website content licensed under <a href="/license-cc-by-sa-4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a>.
<p>Design licensed under <a href="/license-cc-by-3.0/">Creative Commons Attribution 3.0 Unported.</a>
</div>

{% if site.editions[-1].submit or site.editions[-1].register %}
	<div id="banner">
{% if site.editions[-1].submit %}
		<div class="button"><a href="{{ site.editions[-1].submit }}">Submit proposal</a></div>
{% endif %}
{% if site.editions[-1].register %}
		<div class="button"><a href="{{ site.editions[-1].register }}">Register</a></div>
{% endif %}
		<h2>Join us at KVM Forum {{ site.editions[-1].title }}!</h2>
	</div>
{% endif %}
