/*
 * Derived from the Linear template by TEMPLATED.  Licensed under
 * the Creative Commons Attribution 3.0 Unported license
 * (https://creativecommons.org/licenses/by/3.0/).
 */

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.only-mobile, .not-desktop {
		display: none !important;
	}

	body,input,textarea,select {
		line-height: 1.75em;
	}

	h1 {
		font-size: 3em;
		letter-spacing: -0.05em;
	}

	header {
		margin-bottom: 2em;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#titleBar {
		display: none !important;
	}

	#nav {
		display: block !important;
		background: white;
		width: 100%;
	}

	#nav > ul {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	#nav > ul > li {
		display: inline-block;
		margin: 0;
		padding: 0.5em 1em 0.5em 0em;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		font-size: 1.1em;
	}

	#nav > ul > li > a {
		text-decoration: none;
		color: var(--dark);
		display: block;
		padding: 3px 0.5em 7px 0.5em;
		position: relative;
	}

	#nav > ul > li > a::after {
		content: '';
		width: 50%;
		left: 25%;
		height: 3px;
		bottom: 0;
		position: absolute;
		border-bottom: 3px solid white;
	}

	#nav > ul > li:hover > a::after {
		border-bottom-color: var(--link-alt);
	}

	#nav > ul > li.current > a::after {
		border-bottom-color: var(--dark);
	}

	#nav > ul > li:hover > a {
		color: var(--link-alt);
	}

	#nav > ul > li.current > a {
		color: var(--dark);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header {
		padding: 1em;
	}

	#header a {
 		font-size: 2.4em;
 	}
 
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	.main {
		max-width: 60em;
		margin: 0em auto 1em auto;
	}

	.sponsors div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		gap: 20px 3%;
		width: 100%;
	}
	.sponsors div > * {
		width: 30%;
	}
	.sponsors + .sponsors div {
		column-gap: 5%;
	}
	.sponsors + .sponsors div > * {
		width: 21%;
	}
	.sponsors + .sponsors + .sponsors div {
		column-gap: 9%;
	}
	.sponsors + .sponsors + .sponsors div > * {
		width: 18%;
	}
	.sponsors + .sponsors + .sponsors + .sponsors div > * {
		width: 15%;
	}

/*********************************************************************************/
/* Horizontal menu                                                               */
/*********************************************************************************/
	.horiz-menu > ul {
		width: 100%;
		margin: 0;
		padding: 0;
		display: table;
		border-collapse: collapse;
	}

	.horiz-menu > ul > li {
		width: 25%;
		border: 1px solid #000000;
		display: table-cell;
		color: #df8835;
	}

	.horiz-menu > ul > li:hover {
		background: var(--dark-fg);
		color: #df8835;
	}

	.horiz-menu > ul > li > a {
		display: block;
		padding: 1em;
		border-bottom: 5px transparent;
		white-space: nowrap;
		color: inherit;
	}

	.horiz-menu > ul > li > a:hover {
		text-decoration: none;
	}

	.horiz-menu > ul > li.active > a {
		border-bottom: 5px var(--dark) solid;
	}

	.horiz-menu > ul > li.active > a:hover {
		border-bottom: 5px #df8835 solid;
	}

	.horiz-menu > article {
		padding-top: 1em;
		margin: 0;
		display: none;
	}

	.horiz-menu > article.active {
		display: block;
	}

/* Colorbox customization */

	body #cboxTitle { height: 50px; bottom: 24px; color: #000000; text-align: left; }
	body #cboxMiddleLeft, body #cboxMiddleRight, body #cboxContent { padding-bottom: 50px; box-sizing: content-box; }
