<!DOCTYPE HTML>
{% include relative_root.html %}
<html lang="en">
<head>
	<title>{{ site.title }} {{ page.title }}</title>
	{% include assets.html %}
</head>
<body class="homepage">

	<!-- Header -->
	{% include nav.html %}

	<div class="main">
		{{ content }}
	</div>

	{% include footer.html %}

</body>
</html>
